.container.my-container {
    margin-top: 20px;
    width: 100%;
    max-width: 100%; /* Make sure the container does not exceed the viewport width */
}

.stylish-select {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    width: 100%; /* Ensure it takes the full width of its container */
}

#infoBar {
    margin-bottom: 20px;
    padding: 15px;
}

h3 {
    margin-left: 15px;
    margin-right: 15px;
}

.category-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.squircle {
    position: relative;
    width: 100%;
    padding-top: 100%;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.squircle img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
    max-height: 50%;
    padding-bottom: 10px;
}

.squircle h5, .squircle p {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
}

.squircle h5 {
    top: 60%;
    font-size: 1em;
}

.squircle p {
    top: 75%;
    font-size: 0.9em;
}

.bg-light-blue { background-color: #add8e6; }
.bg-light-green { background-color: #90ee90; }
.bg-light-yellow { background-color: #ffffe0; }
.bg-light-pink { background-color: #ffb6c1; }
.bg-light-purple { background-color: #dda0dd; }
.bg-light-orange { background-color: #ffcc99; }

/* Media query for smaller screens */
@media (max-width: 576px) {
    .squircle h5 {
        font-size: 0.9em;
    }

    .squircle p {
        font-size: 0.8em;
    }
}
