body {
    margin-bottom: 60px; /* Ensure there's space for the fixed navbar */
  }
  .navbar {
    background-color: #4A90E2;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }
  .nav-item {
    flex-grow: 1;
    text-align: center;
  }
  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    color: white;
    font-weight: bold;
  }
  .nav-link i {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .nav-link span {
    font-size: 0.9rem;
  }
  .nav-link.active {
    color: #FFD700;
  }
  
/* Top Navigation Bar */
.navbar-top {
    background-color: transparent; /* Set background to clear */
    position: fixed; /* Fixed positioning to stay on top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it's on top of other elements */
  }
  .navbar-brand {
    color: #000000; /* Text color */
    font-size: 1.5rem; /* Font size */
    font-weight: bold;
    text-align: left; /* Center align text */
    width: 100%; /* Full width */
    display: block; /* Make it a block element */
    padding-top: 20px; /* Add padding */
    padding-left: 10px;
  }
  .navbar-name {
    color: #000000; /* Text color */
    font-size: 1.8rem; /* Font size */
    font-weight: bold;
    text-align: left; /* Center align text */
    width: 100%; /* Full width */
    display: block; /* Make it a block element */
    padding-left: 10px;
  }
  .grey-stripe {
    height: 3px; /* Set height for the grey stripe */
    background-color: #CCCCCC; /* Grey color */
    width: 100%; /* Full width */
  }
  