/* Add Expense Box */
.item-box {
  margin-top: 30px; /* Adjusted margin */
}
.curvy-box {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  border-radius: 10px;
  padding: 20px; /* Increase padding for better spacing */
  text-align: center;
  margin-top: 70px; /* Adjusted margin */
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: bold;
}
.add-item-circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: #4A90E2;
  font-size: 2rem;
  line-height: 45px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.add-item-circle:hover {
  background-color: #f1f1f1;
}

/* Item List */
.expense-list-box {
    padding-bottom: 80px; /* Adjust this value as needed */
}

.detail-link {
  font-weight: bold;
  color: black;
}
.detail-link i {
  font-size: 1.5rem;
}

/* Align amounts properly */
.list-group-item .ms-auto {
  margin-left: auto;
}
